body {
	font-family: Hack, monospace;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body.night {
	background: #bbdefb;
}

body.day {
	background: #bbdefb;
}

#mainbox {
	margin: 1em;
	outline-width: thick;
	outline-color: #616161;
	outline-style: dashed;
	max-width: 75%;
}

#box-contents {
	padding: 1em;
	display: table-cell;
	left: 0;
	margin: auto;
	text-align: left;
}

button {
	margin-top: 1px;
	margin-bottom: 1px;
	font-family: Hack, monospace;
}

input {
	min-width: 75%;
	height: 3em;
}

.btn {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0px;
	font-size: 1em;
	background: #fff;
	padding: 0px 5px 0px 5px;
	border: solid #616161 2px;
	text-decoration: none;
}

.btn:hover {
	background: #82b1ff;
	text-decoration: none;
}

div.reddit {
	max-width: 35%;
	margin-right: auto;
	margin-left: 5%;
}
